    /* --------------------Map css-------------------- */
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    
    #map {
        height: 100%;
        /* position: absolute; */
        z-index: 20;
    }
    /* ------------------------Config------------------------ */
    
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: lightblue;
    }
    
    a {
        color: black;
    }
    /* a:hover {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
} */
    
    .nav-item {
        cursor: pointer;
    }
    
    #d-tiger {
        cursor: initial;
    }
    /* -------------------Navbar------------------- */
    /* general */
    
    nav {
        background-color: #eaaf0f;
        font-family: 'Athiti', sans-serif;
        font-size: 14px;
        position: absolute;
        text-align: left;
    }
    
    nav img {
        height: 30px;
        width: 30px;
    }
    
    nav .navbar-nav {
        display: inline-block;
        width: 100%;
        padding: 5px;
        align-items: center !important;
    }
    
    .navbar {
        padding: 0;
    }
    
    nav button {
        background: #eaaf0f;
    }
    
    nav .nav-item {
        display: inline-block;
        margin: 0 2px;
        vertical-align: middle;
    }
    
    nav .filter {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
    }
    /* specific */
    
    nav #info {
        float: right;
        /* margin-top: 6px; */
    }
    
    #d-tiger {}
    /* Start test------------------------------------ */
    
    nav .vertical-align {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    /* End test------------------------------------ */
    
    @media (min-width: 1701px) {
        nav #d-navbar {
            align-items: center;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
        }
        nav #d-tiger {
            width: 600px;
        }
        nav .nav-item {
            font-size: 1.3rem;
            margin: 0 10px;
        }
        nav #d-tiger {
            font-family: 'Anton', sans-serif;
            font-size: 2rem;
        }
        nav #d-tiger img {
            height: 45px;
            width: 45px;
        }
    }
    
    @media (min-width: 1250px) and (max-width: 1700px) {
        nav #d-navbar {
            align-items: center;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
        }
        nav #d-tiger {
            width: 420px;
        }
        nav #d-tiger {
            font-family: 'Anton', sans-serif;
            font-size: 1.5rem;
        }
        nav #d-tiger img {
            height: 40px;
            width: 40px;
        }
    }
    /*---------------------Mobile-----------------------*/
    
    nav #mobile-bottom-navbar {
        margin-top: 10px;
    }
    
    #m-b-navbar {
        background-color: #eaaf0f;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 500px;
        margin-top: 0;
        padding: 10px;
        z-index: 5;
    }
    
    @media (min-width: 1250px) {
        #mobile-bottom-navbar {
            display: none;
        }
    }
    
    @media (max-width:1249px) {
        #m-b-navbar {
            display: inline-block;
            text-align: center;
        }
        #desk-navbar .nav-item,
        #m-b-navbar .nav-item {
            align-items: center;
            margin: 0 50px;
        }
        #m-t-navbar,
        #m-b-navbar .nav-item .js-text {
            display: block;
        }
        #m-t-navbar,
        #m-b-navbar .nav-item img {
            display: inline-block;
        }
        #d-tiger {
            width: 440px;
            font-size: 1.5rem;
            font-family: 'Anton', sans-serif;
            margin-top: 5px;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        #d-tiger img {
            height: 35px;
            width: 35px;
        }
        #m-hamburger {
            float: right;
            margin-top: 5px;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        #m-b-navbar .nav-item,
        #d-navbar .nav-item {
            align-items: center;
            font-size: 1rem;
            margin: 0 30px;
        }
    }
    
    @media (max-width: 920px) {
        #d-tiger {
            width: 400px;
            font-size: 1.2rem;
        }
        #d-tiger img {
            height: 30px;
            width: 30px;
        }
        #m-hamburger img {
            float: right;
            height: 25px;
            width: 25px;
        }
        #m-b-navbar .nav-item,
        #d-navbar .nav-item {
            align-items: center;
            font-size: 1rem;
            margin: 0 30px;
        }
    }
    
    @media (max-width: 690px) {
        #d-tiger {
            width: 350px;
            font-size: 1rem;
        }
        #d-tiger img {
            height: 25px;
            width: 25px;
        }
        #m-hamburger {
            float: right;
            margin-top: 8px;
        }
        #m-hamburger img {
            height: 20px;
            width: 20px;
        }
        #m-b-navbar .nav-item,
        #d-navbar .nav-item {
            align-items: center;
            font-size: 0.7rem;
            margin: 0 22px;
        }
    }
    
    @media (max-width: 550px) {
        #d-tiger img {
            height: 22px;
            width: 22px;
        }
        #m-hamburger {
            float: right;
        }
        #m-b-navbar .nav-item,
        #d-navbar .nav-item {
            align-items: center;
            font-size: 0.7rem;
            margin: 0 16px;
        }
    }
    
    @media (max-width: 490px) {
        #d-tiger {
            width: 250px;
            font-size: 0.7rem;
        }
        #d-tiger img {
            height: 20px;
            width: 20px;
        }
        #m-hamburger {
            float: right;
            margin-top: 10px;
        }
        #m-hamburger img {
            height: 15px;
            width: 15px;
        }
        #m-b-navbar .nav-item,
        #d-navbar .nav-item {
            align-items: center;
            font-size: 0.7rem;
            margin: 0 16px;
        }
        #m-b-navbar .nav-item img {
            height: 20px;
            width: 20px;
        }
    }
    
    @media (max-width: 445px) {
        #d-tiger {
            width: 250px;
            font-size: 0.7rem;
        }
        #d-tiger img {
            height: 18px;
            width: 18px;
        }
        #m-hamburger {
            float: right;
            margin-top: 12px;
        }
        #m-hamburger img {
            height: 12px;
            width: 12px;
        }
        #m-b-navbar .nav-item,
        #d-navbar .nav-item {
            align-items: center;
            font-size: 0.7rem;
            margin: 0 10px;
        }
        #m-b-navbar .nav-item img {
            height: 15px;
            width: 15px;
        }
    }
    
    @media (max-width: 380px) and (min-width:320px) {
        #d-tiger {
            width: 180px;
            font-size: 0.5rem;
        }
        #d-tiger img {
            height: 18px;
            width: 18px;
        }
        #m-hamburger {
            float: right;
            margin-top: 12px;
        }
        #m-hamburger img {
            height: 10px;
            width: 10px;
        }
        #m-b-navbar .nav-item,
        #d-navbar .nav-item {
            align-items: center;
            font-size: 0.5rem;
            margin: 0 9px;
        }
        #m-b-navbar .nav-item img {
            height: 12px;
            width: 12px;
        }
    }
    
    @media (max-width: 319px) {
        #desk-navbar,
        #mobile-bottom-navbar,
        .sidebar {
            display: none;
        }
    }
    /* -------------------Sidebar------------------- */
    
    .sidebar {
        background-color: rgba(0, 0, 0, 1);
        color: ivory;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 10px;
        padding-bottom: 100px !important;
        position: absolute;
        z-index: 2;
    }
    /* sidebar margin */
    
    @media (max-width:1249px) {
        .sidebar {
            margin: 45px 0;
        }
    }
    
    @media (max-width:920px) {
        .sidebar {
            margin: 42px 0;
        }
    }
    
    @media (max-width:690px) {
        .sidebar {
            margin: 35px 0;
        }
    }
    
    @media (max-width:550px) {
        .sidebar {
            margin: 34px 0;
        }
    }
    /* @media (max-width:490px) {} */
    
    @media (max-width:445px) {
        .sidebar {
            margin: 31px 0;
        }
    }
    
    @media (min-width:1250px) {
        .sidebar {
            margin: 50px 0;
        }
    }
    
    @media (min-width:1701px) {
        .sidebar {
            margin: 58px 0;
        }
    }
    /* sidebar width */
    
    @media (max-width:600px) {
        .sidebar {
            width: 100%;
        }
    }
    
    @media (min-width: 600px) {
        .sidebar {
            width: 330px;
        }
    }
    /* desk navbar elements disappear when width < 1249px */
    
    @media (max-width: 1249px) {
        #d-search,
        #d-layers,
        #d-building,
        #d-parking,
        #d-direction,
        #d-tour {
            display: none;
        }
        nav #d-navbar {
            align-items: center;
            display: inline-block;
            text-align: center !important;
            vertical-align: middle;
        }
    }