html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
    color:black;
}
/* -------------------Navbar------------------- */
/* general */
nav {
    background-color: #eaaf0f;
}
nav img {
    height: 30px;
    width: 30px;
}
nav .navbar-nav {
    display: inline-block;
    width: 100%;
}
nav button {
    background: #eaaf0f;
}
nav .nav-item {
   display: inline-block;
   margin: 0 10px;
}
nav .filter {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
/* specific */
nav #info-float-right {
    float: right;
    margin-top: 6px;
}
nav .nav-item #info-rotate {
    transform: rotate(180deg);

}

#m-b-navbar {
    position: fixed;
    bottom: 0;
    z-index: 10;
}
/* desk navbar disappear when width < 1249px */
@media (max-width: 1249px) {
    #desk-navbar {
        display: none;
    }
    .sidebar {
        width: 0px;
    }
}
/* -------------------Sidebar------------------- */
.sidebar {
        background-color: rgba(0, 0, 0, 1);
        color: ivory;
        height: 100%;
        margin: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        position: absolute;
        transition: 0.05s;
        z-index: 3;
    }
@media (min-width: 1250px) {
    .sidebar {
        padding: 10px;
        width: 330px;
    }
}

/* --------------------Map css-------------------- */

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
    height: 100%;
    z-index: 2;
}
