.nav-item{cursor:pointer}
.sidebar{
    background-color: rgba(0, 0, 0, 1);
    color: ivory;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    z-index: 3;
    padding: 10px;
    top:31px;
	bottom:66px;
}
@media (min-width:768px) {
    .sidebar{
    top:50px;
    width: 330px;
    bottom:0px;
    }
}
@media (max-width:768px) {
    .sidebar{
    top:31px;
    width: 100%;
    }
}